<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.freeman.example.apitest">


    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:icon="@mipmap/ic_launcher"
                 android:theme="@style/AppTheme">

        <activity android:name=".supportlibrary.ActivitySupportLibraryTest"
                  android:theme="@style/AppTheme"
                  android:icon="@mipmap/ic_launcher"
                  android:screenOrientation="portrait">
            <meta-data android:name="android.support.UI_OPTIONS"
                       android:value="splitActionBarWhenNarrow" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:authorities="com.freeman.example.apitest"
            android:name=".loader.NewsContentProvider"
            android:exported="false"/>

    </application>

</manifest>
